<section class="repoSection py-[5cm] px-[3cm] w-[95vw] flex flex-col ">
  <div class="repo_header bg-fuchsia-300 p-[1cm] flex justify-between items-center">
    <div class="refreshRepo ">
      <input class="bg-black py-[0.3cm] px-[0.75cm] border-black border-[3px] font-extrabold text-white" type="number" #perpagecount placeholder="No. of REPOS per Page" />
    
      <button (click)="refreshRepo(perpagecount)" class="bg-white text-black border-black border-[3px] py-[0.3cm] px-[0.75cm] font-extrabold">Refresh</button>
     </div>
    <div class="pageSwitch">
      <button (click)="prePage()" class="bg-white text-black border-black border-[3px] w-[3cm] py-[0.3cm] ml-[0.5cm] font-extrabold duration-500 hover:bg-black hover:text-white hover:border-white">Previos</button>
      <button (click)="nextPage()" class="bg-white text-black border-black border-[3px] w-[3cm] py-[0.3cm] ml-[0.5cm] font-extrabold duration-500 hover:bg-black hover:text-white hover:border-white">Next</button>
    </div>
  </div>

<section
  class="flex flex-wrap justify-evenly gap-y-20 px-20 py-28 shadow-[inset_0px_-17px_71px_24px_#00000024]"
>
  <div class="flex flex-wrap justify-evenly gap-y-20" *ngIf="loading == false">
    <div
    class="repo_card w-[16cm] flex flex-col h-auto bg-white rounded-[0.4cm] overflow-hidden shadow-[rgba(0,_0,_0,_0.2)_4px_30px_90px]"
    *ngFor="let repoooo of repomodel"
  >
    <div>
      <h1
        class="text-base font-bold p-[0.65cm] border-b-black border-b-2 bg-gray-200 capitalize"
      >
        {{ repoooo.name }}
      </h1>
      <div
        class="count flex items-center justify-between px-[0.75cm] py-[0.2cm]"
      >
        <div class="flex gap-[0.3cm] items-center">
          <h2 class="font-bold text-[0.5cm]">{{ repoooo.forks }}</h2>
          <img
            src="../../assets/images/fork.png"
            alt=""
            srcset=""
            title="Number of FORK"
            class="h-[0.6cm] w-auto"
          />
        </div>
        <div class="flex gap-[0.3cm] items-center">
          <h2 class="capitalize font-bold text-[0.5cm]">
            {{ repoooo.watchers_count }}
          </h2>
          <img
            src="../../assets/images/eye.png"
            alt=""
            srcset=""
            title="Number of Watchers"
            class="h-[0.6cm] w-auto"
          />
        </div>
        <div>
          <h2
            class="capitalize bg-black text-white px-[0.25cm] py-[0.1cm] rounded-[0.2cm] font-bold"
          >
            {{ repoooo.visibility }}
          </h2>
        </div>
      </div>
    </div>

    <div class="p-[0.75cm flex flex-col justify-start px-[2rem] mt-5">
      <p
        class="text-justify h-[1.6cm] overflow-hidden max-h-[3rem] mb-[0.4cm] font-bold"
      >
        {{
          repoooo.description == null
            ? "No description available"
            : repoooo.description
        }}
      </p>

      <div
        *ngIf="repoooo.langs.length != 0"
        class="flex items-center gap-x-[0.5cm] gap-y-[0.2cm] flex-wrap pb-[0.75cm]"
      >
        <div
          *ngFor="let lang of repoooo.langs"
          class="uppercase bg-black text-white font-bold px-[0.5cm] py-[0.2cm]"
        >
          {{ lang }}
        </div>
      </div>
      <div *ngIf="repoooo.langs.length == 0" class="h-[1.5cm]">No data</div>
    </div>
  </div>
  </div>
 <div class="flex flex-wrap justify-evenly gap-y-20" *ngIf="loading">
  <section class="w-[16cm] flex flex-col h-[7cm] p-[0.65cm] bg-white rounded-[0.4cm] overflow-hidden shadow-[rgba(0,_0,_0,_0.2)_4px_30px_90px]" *ngFor="let i of loopArray">
    <div class="flex justify-around mb-4">
      <div><ngx-skeleton-loader count="1" appearance="line" [theme]="{height :'0.75cm' , width: '2.5cm'  ,'background-color': '#e9ecef'}" animation="progress"></ngx-skeleton-loader></div>
      <div><ngx-skeleton-loader count="1" appearance="line" [theme]="{height :'0.75cm' , width: '2.5cm'  ,'background-color': '#e9ecef'}" animation="progress"></ngx-skeleton-loader></div>
      <div><ngx-skeleton-loader count="1" appearance="line" [theme]="{height :'0.75cm' , width: '2.5cm'  ,'background-color': '#e9ecef'}" animation="progress"></ngx-skeleton-loader></div>
     </div>
  
  <div class="flex flex-col w-[100%]  px-10">
    <ngx-skeleton-loader count="3" appearance="line" [theme]="{width: '100%'  ,'background-color': '#e9ecef'}" animation="progress"></ngx-skeleton-loader>
  
  </div>
  <div class="flex justify-around ">
    <div><ngx-skeleton-loader count="1" appearance="line" [theme]="{height :'0.75cm' , width: '2.5cm'  ,'background-color': '#e9ecef'}" animation="progress"></ngx-skeleton-loader></div>
    <div><ngx-skeleton-loader count="1" appearance="line" [theme]="{height :'0.75cm' , width: '2.5cm'  ,'background-color': '#e9ecef'}" animation="progress"></ngx-skeleton-loader></div>
    <div><ngx-skeleton-loader count="1" appearance="line" [theme]="{height :'0.75cm' , width: '2.5cm'  ,'background-color': '#e9ecef'}" animation="progress"></ngx-skeleton-loader></div>
    <div><ngx-skeleton-loader count="1" appearance="line" [theme]="{height :'0.75cm' , width: '2.5cm'  ,'background-color': '#e9ecef'}" animation="progress"></ngx-skeleton-loader></div>
     </div>
  </section>
 </div>
</section>

<div>
 
</div>
</section>
