section
{
    
  
    flex-wrap: wrap;
    display: flex;
    justify-content: space-evenly;
  row-gap: 2.5cm;
    // background-color: rgba(102, 51, 153, 0.349);
    padding: 2cm 2cm;
    box-shadow: rgba(0, 0, 0, 0.17) 0px -23px 25px 0px inset, rgba(0, 0, 0, 0.15) 0px -36px 30px 0px inset, rgba(0, 0, 0, 0.1) 0px -79px 40px 0px inset, rgba(0, 0, 0, 0.06) 0px 2px 1px 0px, rgba(0, 0, 0, 0.09) 0px 4px 2px 0px, rgba(0, 0, 0, 0.09) 0px 8px 4px 0px, rgba(0, 0, 0, 0.09) 0px 16px 8px 0px, rgba(0, 0, 0, 0.09) 0px 32px 16px 0px;

.repo_card {
    width: 16cm;
    height: auto;
    background-color: rgb(255, 255, 255);
    border-radius: 0.4cm;
    overflow: hidden;
    box-shadow: rgba(17, 17, 26, 0.1) 0px 8px 24px, rgba(17, 17, 26, 0.1) 0px 16px 56px, rgba(17, 17, 26, 0.1) 0px 24px 80px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    
  
    div {
      
      h1 {
        font-size: 0.55cm;
        font-weight: bolder;
        padding: 0.65cm;
        border-bottom: solid rgb(56, 56, 56) 2px;
  
        background-color: rgb(199, 199, 199);
      }
  
      .count {
        display: flex;
        align-items: center;
        padding: 0.2cm 0.75cm;
        justify-content: space-between;
        // background-color: aqua;
        div {
          display: flex;
          gap: 0.3cm;
          align-items: center;
          // justify-content: space-between;
  
          img {
            height: 0.6cm;
            width: auto;
          }
  
          h2 {
            font-weight: bolder;
            font-size: 0.5cm;
          }
  
          .visibility {
            background-color: black;
            color: white;
            padding: 0.1cm 0.25cm;
            border-radius: 0.2cm;
          }
        }
      }
    }
  
    .desrip {
      padding: 0.75cm 0.75cm;
      display: flex;
      flex-direction: column;
      justify-content: flex-end;
  
      // background-color: aqua;
  
      p {
        text-align: justify;
        height: 1.4cm;
        max-height: 3em;
        overflow: hidden;
        margin-bottom: 0.4cm;
        font-weight: bold;
  
      //      &::-webkit-scrollbar {
      //     width: 0.1cm;
      //     background-color: black;
  
      // }
  
  
      // &::-webkit-scrollbar-thumb
      // {
      //     background-color: red;
      //     width: 0.1cm;
      //    height: 5px;
      //    margin-top: 0.1cm;
      // }
      }
      .lang_body {
        display: flex;
        align-items: center;
         column-gap: 0.5cm;
         flex-wrap: wrap;
        row-gap: 0.2cm;
      //   &::-webkit-scrollbar {
      //     height: 0.1cm;
      //     background-color: black;
  
      // }
  
  
      // &::-webkit-scrollbar-thumb
      // {
      //     background-color: red;
      //     height: 0.1cm;
      //    width: 5px;
      //    margin-top: 0.1cm;
      // }
  
        // background-color: red;
  
        div {
          background-color: black;
          color: white;
          font-weight: bolder;
          padding: 0.2cm 0.5cm;
        }
      }
    }
  }
  
}