<div class="MainBody">
<img src="../assets/images/github.png" class="body_img" alt="" srcset="">
 <div class="header">
  <h1>
    GitHub - FIND
  </h1>
  <h2>
    One stop for searching Github Profiles
  </h2>

 </div>

  <div class="searchBar">
    <input type="text" #searchvalue class="input" placeholder="Enter Your GitHub Username " />
  <button (click)="search(searchvalue)" >
    <img src="../assets/images/search.png" alt="" srcset="">
    FIND</button>
  </div>

  <app-user-card></app-user-card>


  <div *ngIf="flag == false">
    <h1>{{ username }} : NO DATA FOUND</h1>
  </div>
<section class="repoSection">
  <div class="repo_header">
    <div class="refreshRepo">
      <input type="number" #perpagecount placeholder="No. of REPOS per Page" />
    
      <button (click)="refreshRepo(perpagecount)">Refresh</button>
     </div>
    <div class="pageSwitch">
      <button (click)="prePage()">Previos</button>
      <button (click)="nextPage()">Next</button>
    
    </div>
  </div>
  <app-repocard></app-repocard>
</section>


</div>
