<div class="MainBody flex flex-col items-center gap-y-[1.5cm] py-[1.5cm]">
  <img src="../assets/images/github.png" class="body_img absolute top-[-1cm] ml-[-1cm] opacity-10 -z-50 h-[90vh]" alt="" srcset="">
   <div class="header flex flex-col items-center justify-center">
    <h1 class="text-[2.5cm]">
      GitHub - FIND
    </h1>
    <h2 class="text-[0.5cm] font-bold text-gray-600">
      One stop for searching Github Profiles
    </h2>
  
   </div>
  
   
 <div>
   
  <app-user-card></app-user-card>
  
 </div>
    <app-repocard></app-repocard>
  
  
    
 
  
  
  </div>
  