<div class="shadow-[rgba(0,_0,_0,_0.1)_0px_60px_40px_-7px] mx-auto flex items-center justify-center ">
  <input type="text" #searchvalue class="input w-[50vw] bg-gray-800 font-extrabold py-[0.5cm] px-[1cm] text-white" placeholder="Enter Your GitHub Username " />
<button (click)="search(searchvalue)" class="flex gap-x-[0.2cm] font-extrabold border-black border-[3px] py-[0.4cm] px-[1.1cm] duration-1000 hover:bg-black hover:text-white">
  <img src="../assets/images/search.png" alt="" srcset="" class="h-[0.7cm]">
  FIND</button>
</div>

<div *ngIf="loader==false">
  <section  *ngFor="let userdata of user" class="mt-[1.5cm] w-[70vw] h-[12cm] p-[0.65cm] flex rounded-[1cm] bg-white shadow-[rgba(0,_0,_0,_0.3)_4px_30px_90px] " >
    <div class="w-[35%] flex items-center justify-evenly flex-col" >
      <div class="avatar w-[6cm] h-[6cm] rounded-[3cm] bg-black overflow-hidden">
        <img src={{userdata.avatar_url}} alt="" srcset="" />
      </div>
      <h1 class="text-fuchsia-400 text-[0.6cm] font-bold">{{userdata.name}}</h1>
    </div>
    <div class="w-[65%] py-[0.5cm] px-[1cm] border-l-fuchsia-200 border-l-[2px] flex flex-col justify-between">
  
      <div class="flex flex-col gap-[1.5cm] justify-around">
          <div class="count flex justify-around font-bold">
              <div>Followers : <span class="text-fuchsia-300">{{userdata.followers}}</span></div>
              <div>Following : <span class="text-fuchsia-300">{{userdata.following}}</span></div>
              <div>Public Repos : <span class="text-fuchsia-300">{{userdata.public_repos}}</span></div>
          </div>
          <div class="bio">
              <p class="pl-[1cm] max-h-[3em] leading-[1.2em] overflow-hidden">
                  {{userdata.bio}}
              </p>
          </div>
      </div>
      <div class="flex pl-[1cm] gap-[2cm]">
          <div class="w-[11cm] h-[5.5cm] pl-[0.5cm]">
              <img src="https://github-readme-stats.vercel.app/api/top-langs/?username={{userdata.login}}&theme=vue&layout=compact&hide" alt="" srcset="" class="h-[5.5cm]">
          </div>
  
          <div class="h-[100%] flex flex-col justify-evenly font-bold text-fuchsia-300">
              <a href="https://twitter.com/{{userdata.twitter_username}}">
                  <div class="flex gap-[0.5cm] py-[0.25cm] px-[0.75cm] items-center justify-center w-[100%] border-fuchsia-300 border-[3px] duration-1000 hover:bg-fuchsia-300 hover:text-white hover:border-#96189A hover:border-[3px] hover:border-fuchsia-500">
                      <img src="../../assets/images/twitter.png" alt="" class="h-[0.75cm]">
                      <p>Twiter </p>
                  </div>
              </a>
              <a href= {{userdata.url}}>
                 <div class="flex gap-[0.5cm] py-[0.25cm] px-[0.75cm] w-[100%] border-fuchsia-300 border-[3px] duration-1000 hover:bg-fuchsia-300 hover:text-white hover:border-#96189A hover:border-[3px] hover:border-fuchsia-500">
                      <img src="../../assets/images/github.png" alt="" class="h-[0.75cm]">
  
                      <p>GitHub</p>
                  </div>
              </a>
          </div>
      </div>
    </div>
  </section>
</div>


  <section class="bg-white mt-[1.5cm] w-[70vw] h-[12cm] p-[0.65cm] flex rounded-[1cm] shadow-[rgba(0,_0,_0,_0.3)_4px_30px_90px]"  *ngIf="loader">

    <div class="w-[35%] flex justify-evenly items-center flex-col">
      <div>
        <ngx-skeleton-loader
          count="1"
          appearance="circle"
          [theme]="{ height: '6cm', width: '6cm'  ,'background-color': '#e9ecef'}"
          animation="progress"
          
        ></ngx-skeleton-loader>
      </div>
      <div>
        <ngx-skeleton-loader count="1" appearance="line" [theme]="{height :'1.2cm' , width: '7cm' ,'background-color': '#e9ecef',} " animation="progress"></ngx-skeleton-loader>
      </div>
    </div>
    <div class="w-[65%] flex flex-col justify-between pt-9 ">
     <div class="flex justify-around mb-4">
      <div><ngx-skeleton-loader count="1" appearance="line" [theme]="{height :'0.75cm' , width: '2.5cm'  ,'background-color': '#e9ecef'}" animation="progress"></ngx-skeleton-loader></div>
      <div><ngx-skeleton-loader count="1" appearance="line" [theme]="{height :'0.75cm' , width: '2.5cm'  ,'background-color': '#e9ecef'}" animation="progress"></ngx-skeleton-loader></div>
      <div><ngx-skeleton-loader count="1" appearance="line" [theme]="{height :'0.75cm' , width: '2.5cm'  ,'background-color': '#e9ecef'}" animation="progress"></ngx-skeleton-loader></div>
     </div>
     <div>
      <ngx-skeleton-loader count="3" appearance="line" [theme]="{width: '100%'  ,'background-color': '#e9ecef'}" animation="progress"></ngx-skeleton-loader>
  
      <div class="flex gap-6">
  
  
          <ngx-skeleton-loader count="1" appearance="line" [theme]="{height :'5.5cm' , width: '11cm' ,'background-color': '#e9ecef'}" animation="progress"></ngx-skeleton-loader>
          <div class=" flex  flex-col ml-10 justify-evenly">
          <ngx-skeleton-loader count="1" appearance="line" [theme]="{height :'1.2cm' , width: '5cm' ,'background-color': '#e9ecef'}" animation="progress"></ngx-skeleton-loader>
          <ngx-skeleton-loader count="1" appearance="line" [theme]="{height :'1.2cm' , width: '5cm' ,'background-color': '#e9ecef'}" animation="progress"></ngx-skeleton-loader>
  
          </div>
        </div>
    </div>
  
    </div>
  </section>